.nav-link {
  color: black;
}
.nav-item .active {
  background-color: black !important;
}

.indent_img {
  border: 2px solid black;
  border-radius: 20px;
}

.margin-bottom {
  margin-bottom: 35px;
}
.margin-bottom-small {
  margin-bottom: 25px;
}
.hover-orange:hover {
  color: orange !important;
}
#edit-img {
  margin-left: 10px !important;
  padding: 1px 9px !important;
}
#edit-img:hover img {
  -webkit-filter: invert(100%);
}
.folklore {
  width: 301px;
}
.col .card img {
  width: 100%;
}
